page-home {
    .scroll-content{
        background: url("https://images.pexels.com/photos/1595027/pexels-photo-1595027.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center fixed; 
        background-size: cover;
    }
    
}
ion-row{
        align-items: center;
        justify-content: center;
    }