<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Account</ion-title>
    <div *ngIf="_user.loggedIn">
        <ion-buttons end>
          <button ion-button (click)= "_user.onLogOut()">Log Out</button>
        </ion-buttons>
      </div>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class ="notLoggedIn" *ngIf="!_user.loggedIn">
      <h1> Please Log in</h1>
        <div>
      <img src = {{defaultPhoto}}>
      </div>
      <button ion-button (click)="toLogIn()"> Log In </button>
  </div>
<div class= "loggedIn" *ngIf="_user.loggedIn">
  <div class= "photoWrap">
    <button (click)= "presentPrompt()"> <img src={{_user.user.picture}}></button>
  </div>
  <div class= "currentInfo">
    <ion-grid>

    </ion-grid>
  </div>
<div class = "editWrap">
  <ion-grid>
    <ion-row>
      <ion-col>
      <p ion-text color="primary" tappable (click)="editClick()"><strong>Edit Info</strong></p>
      </ion-col>
      <ion-col col-6>
        </ion-col>
      <ion-col *ngIf="editClicked" tappable (click)="editHide()">
        hide
      </ion-col>
    </ion-row>
    <div *ngIf="editClicked">
        <form [formGroup]='account' (ngSubmit)="onEdit()" >
            <ion-row>
              <ion-col>
                <ion-list insert> 
                  <ion-item class= "accForm">
                      <ion-label stacked>First Name</ion-label>
                      <ion-input type="text" placeholder= "{{_user.user.firstName}}" formControlName="firstName"></ion-input>
                    </ion-item>
                  <ion-item class= "accForm">
                      <ion-label stacked>Last Name</ion-label>
                      <ion-input type="text" placeholder= "{{_user.user.lastName}}" formControlName="lastName"></ion-input>
                    </ion-item>
                  <ion-item class= "accForm"> 
                      <ion-label stacked>Email</ion-label>
                      <ion-input type="text" placeholder= "{{_user.user.email}}" formControlName="email"></ion-input>
                    </ion-item>
                  <ion-item class= "accForm"> 
                      <ion-label stacked>Organization</ion-label>
                      <ion-input (keydown.enter)="onEdit()" placeholder= "{{_user.user.organization}}" type="text" formControlName="organization"></ion-input>
                    </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                  <button ion-button type="submit" block> Make Changes </button>
                </ion-col>
              </ion-row>
          </form>
    </div>
    
  </ion-grid>
</div>

      <div class = "changePass">
          <ion-grid>
              <ion-row>
                <ion-col>
          <p ion-text color="primary" tappable (click)= "passClick()"><strong> Change Password </strong></p>
        </ion-col>
        <ion-col col-6>
          </ion-col>
        <ion-col *ngIf="passClicked" tappable (click)="passHide()">
          hide
        </ion-col>
      </ion-row>
        <div *ngIf="passClicked">
          <form [formGroup]='password' (ngSubmit)="onChangePass()" >
              <ion-row>
                  <ion-col>
                    <ion-list insert> 
                      <ion-item class= "passForm">
                          <ion-label stacked>Old Password</ion-label>
                          <ion-input type="password" formControlName="oldPassword"></ion-input>
                        </ion-item>
                      <ion-item class= "passForm">
                          <ion-label stacked>New Password</ion-label>
                          <ion-input type="password" formControlName="newPassword"></ion-input>
                        </ion-item>
                      <ion-item class= "passForm"> 
                          <ion-label stacked>Confirm New Password</ion-label>
                          <ion-input type="password" formControlName="confirmNewPassword"></ion-input>
                        </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                      <button ion-button type="submit" block> Change Password </button>
                    </ion-col>
                </ion-row>
          </form>
        </div>
      </ion-grid> 
      </div>
      <button (click)= "onResetPass()">reset pass check</button>
</div>
</ion-content>
